torch>=2.2.0
torchvision>=0.17.0
pillow>=10.3.0
pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.2
tqdm>=4.66.0

fastapi>=0.111.0
uvicorn>=0.30.0
pydantic>=2.6.0
requests>=2.32.0
python-multipart>=0.0.9

streamlit>=1.37.0
